@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./fontello.css);
@import url(./normalize.css);
/* CSS class module */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.a11y-hidden,
legend /* ,
[class^="event-button-"] > span */ {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: blue;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}
.main {
  background-color: blue;
}
.slogan {
  background-color: blueviolet;
  height: 10vh;
}
.footer-bg {
  background-color: teal;
}
.footer {
  background-color: tomato;
  height: 10vh;
}
/* 기본 Box Sizing */
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}
/* 하이퍼 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
/* 본문 기본 설정 */
html {
  font-size: 10px;
}

body {
  font-family: "Spoqa Han Sans", "Lucida Sans", "Arial", "Sans-Serif";
  font-weight: 400;
  font-size: 1.4rem;
  color: #181818;
  background: url(./images/bg_flower.png) no-repeat /* x축 y축 */ 50% 0%,
    green linear-gradient(180deg, #ccc, #eee, #fff);

  /* linear-gradient는 background-image 임 */
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background-color: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  position: relative;
}
/* 로고 */
.logo {
  position: absolute;
  margin: 0;
  top: 50px;
  left: 65px;
}
/* 멤버 링크 */
.member {
  margin: 0;
  list-style: none;
  padding-left: 0;
  text-align: right;
  font-size: 0;
  text-transform: uppercase;
  padding: 2px 0;
  margin-right: -10px;
}
.member li,
.member a {
  display: inline-block;
}
.member li {
  font-size: 1.4rem;
}
.member a {
  padding: 8px 10px;
}
/* 메인 메뉴 */
.navigation {
  padding-bottom: 40px;
}
.menu {
  background: #f24d30
    linear-gradient(
      to bottom,
      #e0802c 0%,
      #f24d30 35%,
      #f24d30 65%,
      #e0802c 100%
    );
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 229px;
  list-style-type: none;
  /* box-shadow: 0 -2px 5px 0 #000; */
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  height: 47px;
}
.menu-item {
  position: relative;
  float: left;
  border-left: 2px solid #fff;
}
.menu-link {
  outline: 0;
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 45px;
  padding: 0 20px;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}
.menu-item-act .menu-link,
.menu-link:focus {
  color: #ff0;
}
.menu-item-act .menu-link::after {
  content: "";
  display: block;
  background-color: #000;
  height: 2px;
}
.submenu {
  position: absolute;
  top: 47px;
  padding-left: 0;
  list-style-type: none;
  display: none;
  white-space: nowrap;
}
.menu > li:nth-child(1) .submenu,
.menu > li:nth-child(2) .submenu,
.menu > li:nth-child(3) .submenu {
  left: 0;
}
.menu > li:nth-child(4) .submenu,
.menu > li:nth-child(5) .submenu,
.menu > li:nth-child(6) .submenu {
  right: 0;
}
.menu-item-act .submenu {
  display: block;
}
.submenu li {
  display: inline-block;
  margin-right: 10px;
}
.submenu a {
  padding: 10px 0;
  display: block;
}
/* 비주얼 */
/* @keyframes flower {
  0% {
    background-image: url(./images/ani_flower_01.png),
      url(./images/ani_flower_03.png);
    background-size: cover;
    display: inline;
    opacity: 1;
  }
  100% {
    background-image: url(./images/ani_flower_02.png),
      url(./images/ani_flower_04.png);
    background-size: cover;
    display: inline;
    opacity: 1;
  }
} */
@keyframes textAni {
  0% {
    opacity: 0;
    font-size: 10px;
    transform: translate(0, 0);
    /* top: 0;
    left: 0; */
  }
  100% {
    opacity: 1;
    font-size: 24px;
    transform: translate(400px, 75px);
    /* top: 70px;
    left: 400px; */
  }
}
@keyframes bgAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.visual {
  /* animation: flower 0.5s 1s forwards;
  background-image: url(./images/bg_flower.png); */
  height: 120px;
  display: block;
  position: relative;
}
.visual::before,
.visual::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute; /* absolute 되면 block 요소가 됨 */
  left: 0;
  top: 0;
  animation: bgAni 2s infinite 2s alternate;
}
.visual::before {
  /* background-color: yellow;
  background-image: url(./images/ani_flower_01.png),
    url(./images/ani_flower_02.png);
  background-repeat: no-repeat; */
  /* animation: bgAni 2s infinite 2s alternate; */
  background: url(./images/ani_flower_01.png) no-repeat 0 -10px,
    url(./images/ani_flower_02.png) no-repeat 670px 0;
  /* background는 반대로 깔리기 때문에 배경칼라가 제일 뒤에 요소에 넣어야됨 */
  /* background-color 제일 뒤로 빼라 */
}
.visual::after {
  /* animation: bgAni 2s forwards infinite 1s alternate; */
  background: url(./images/ani_flower_03.png) no-repeat 300px 0,
    url(./images/ani_flower_04.png) no-repeat 800px 0;
  animation-delay: 1s;
}
.visual-text {
  opacity: 0;
  background-color: #1582da;
  animation: textAni 0.5s forwards 1s alternate ease-in-out;
  /* animation-name: textAni;
  animation-direction: alternate; 왔다리 갔다리
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-duration: 1s; */
  /* animation-play-state: running; javascript랑 같이 쓰는 속성 */
  font-family: Georgia, "Times New Roman", Times, serif;
  display: inline-block;
}
/* 메인 콘텐츠 */
.main {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  padding: 30px;
  min-height: 400px;
  background-color: white;
  border-radius: 15px 15px 0;
}
.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}
/* 로그인 */
/* .login {
  background: radial-gradient(rgb(231, 116, 71), rgb(255, 72, 0));
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
}
.group1 {
  width: 250px;
}
.login-form {
  background-color: white;
  border-radius: 5px 5px 0 0;
  margin: 0;
  position: relative;
}
.login-heading {
  line-height: 40px;
  font-size: 1.5rem;
  margin: 0;
  padding-left: 15px;
  color: yellow;
}
fieldset {
  border: 0px;
}
label {
  display: inline-block;
  width: 55px;
}
.user-email {
  width: 160px;
  margin: 5px 0;
}
.userEmail {
  display: inline-block;
  width: 50px;
  margin: 0;
}
.user-pw {
  width: 160px;
  margin: 5px 0;
}
.userPw {
  margin: 0;
}
.btn-login {
  background-color: rgb(255, 72, 0);
  width: 50px;
  height: 50px;
  color: #f7f7f7;
  font-size: 1.2rem;
  border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 175px;
}
.sign {
  background-color: khaki;
  margin: 0;
  padding: 0px 15px;
  border-radius: 0px 0px 5px 5px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}
.sign li {
  padding: 0;
  margin: 0;
} */
.login {
  background-color: #e8852e;
  background-image: radial-gradient(circle at right top, #e8852e, #ed552f);
  border-radius: 5px;
  box-shadow: 5px 5px #ccc;
  padding: 10px;
}
.login-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffff00;
}
.login-form,
.sign {
  background-color: #f7f7f7;
  padding-left: 0;
  padding-right: 0;
}
.login-form {
  border-radius: 5px 5px 0 0;
  padding-top: 10px;
}
.login-form fieldset {
  margin: 0;
  padding: 0 5px;
  border: 0;
  background-color: skyblue;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-bottom: 5px;
}
.user-email,
.user-pw {
  margin-bottom: 5px;
  background-color: yellow;
}
.login-form label {
  background-color: pink;
  display: inline-block;
  width: 4em; /*현재 크기만큼이라 em */
}
/* .login-form input {
  width: 95px;
  height: 24px;
  padding: 1px 1px 1px 5px;
  border: 1px solid #ccc; 
} */
/* [name^="user"] */
[name="userEmail"],
[name="userPw"] {
  width: 100px;
  height: 24px;
  padding: 1px 1px 1px 5px;
  border: 1px solid #ccc;
}
.btn-login {
  position: absolute;
  padding: 0px;
  top: 0;
  right: 10px;
  width: 50px;
  height: 53px;
  border: 1px solid #e8852e;
  background-color: #ed552f;
  color: white;
  padding: 0px;
  border-radius: 5px;
}
.sign {
  margin: 0;
  padding-top: 10px;
  padding-left: 0;
  list-style: none;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 0 0 5px 5px;
  display: flex;
  letter-spacing: -1px; /* 자간 */
  justify-content: space-between;
}
/* 유효성 검사 배너 링크 */
.validation-list {
  list-style: none;
  padding: 0;
  margin: 25px 0 0 0; /* box-shadow 때문에 실질적으로 25px이 아님 */
}
.validation-list li {
  margin-bottom: 10px;
}
.validation-list li a {
  border: 1px solid #999;
  background: url(./images/validation_icon.png) no-repeat 25px 50%,
    #ccc linear-gradient(#ccc, #eee);
  border-radius: 100px;
  display: block;
  line-height: 30px;
  text-indent: 50px; /* 들여쓰기 */
  font-size: 1.4rem;
}
/* 웹 관련 용어 */
/* .term {
  background: #ccc linear-gradient(#ccc, #eee);
  border: 1px solid #999;
  border-radius: 10px;
  margin-top: 20px;
  padding-right: 10px;
}
.term-heading {
  margin: 15px 0px 15px 15px;
  font-size: 1.6rem;
  position: relative;
}
.term-list-subject::before {
  clear: both;
  content: "";
  display: block;
}
.term-list-subject {
  float: right;
  width: 155px;
  padding: 0;
  margin-bottom: 10px;
  color: #18a6f4;
}
.term-list-thumbnail {
  float: left;
  top: 0px;
  left: 0px;
  padding: 0 10px 0 12px;
  margin: 0;
}
.term-list-thumbnail::after {
  clear: both;
  content: "";
  display: block;
}
.term-list-brief {
  display: inline;
  padding: 0;
  margin: 0;
} */
.term {
  margin-top: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  background: linear-gradient(#ccc, #eee);
  padding: 15px;
}
.term-heading {
  margin: 0;
  font-size: 1.6rem;
}
.term-list {
  /* overflow: hidden; */
  margin: 15px 0 0;
}
.term-list dd {
  margin-left: 0;
}
.term-list-subject,
.term-list-brief {
  background-color: #95ab12;
  float: right;
  width: 145px;
}
.term-list-subject {
  font-weight: 700;
  color: #296897;
}
.term-list-thumbnail {
  background-color: pink;
  float: left;
}
.term-list-thumbnail img {
  vertical-align: bottom;
}
.term-list-brief {
  margin-top: 5px;
}
/* 
.even::before {
  clear: both;
  content: "";
  display: block;
  margin-top: 80px;
}
.even .term-list-subject,
.term-list-brief {
  float: left;
}
.even .term-list-thumbnail img {
  float: right;
} */
.term-list .even .term-list-subject,
.term-list .even .term-list-brief {
  float: left;
}
.term-list .even .term-list-thumbnail {
  float: right;
}
.even {
  margin-top: 10px;
}
/* 검색 폼 */
/* .search {
  background: linear-gradient(#ccc, #eee);
  border: 1px solid #888;
  border-bottom: 1px solid #eee;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex: row nowrap;
  justify-content: space-around;
  padding: 15px 0 5px 0;
  margin: 0;
}
.search fieldset {
  border-width: 0px;
}
.search fieldset input {
  margin: 0 3px;
}
.search .search-btn {
  color: #f7f7f7;
  background: linear-gradient(#202020, #999, #202020);
  font-weight: 400;
} */
.search {
  border: 1px solid #aaa;
  border-bottom-color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px;
  background: #ccc linear-gradient(#ccc, #eee);
}
.search fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: tomato;
}
.search-form .flex-box {
  display: flex; /*크롬의 fieldset 버그 때문에 묶음 */
  justify-content: space-between;
  align-items: center;
}
[name="keyword"] {
  width: 150px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
  border-radius: 3px;
}
.search-btn {
  height: 24px;
  border: 1px solid #aaa;
  background-color: #181818;
  color: #f7f7f7;
  padding: 0px 10px;
  border-radius: 3px;
}
/* 공지사항 및 자료실 */
/* .board {
  position: relative;
}
.notice > h2,
.pds > h2 {
  font-size: 1.4rem;
  font-weight: 400;
}
.notice {
  background-color: violet;
}
.notice-list {
  position: absolute;
  background-color: thistle;
}
.more {
  position: absolute;
}
.pds-heading {
  position: absolute;
  left: 30px;
}

.pds-list {
  display: none;
  position: absolute;
  background-color: tomato;
} */
/*
.board {
  background-color: yellow;
  margin-top: 20px;
  position: relative;
  height: 200px;
}
.notice {
  background-color: pink;
}
.pds {
  background-color: skyblue;
}
.notice-heading,
.pds-heading {
  margin: 0;
  font-weight: 400;
  font-size: 1.4rem;
  float: left;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: #ccc linear-gradient(#ccc, #eee);
}
.tab {
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: #ccc linear-gradient(#ccc, #eee);
  display: block;
  padding: 5px 10px;
  color: #999;
}
.board-act .tab {
  color: #ed552f;
  border-color: #ed55ef #ed552f #f7f7f7 #ed552f;
  background: #fff;
}
.notice-list,
.pds-list {
  width: 100%; */ /* position absolute시 반드시 크기 고정 */
/* position: absolute;
  top: 45px;
  left: 0px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  background-color: teal;
}
.notice-list li,
.pds-list li {
  background-color: skyblue;
  margin: 8px 0;
  display: flex;
}
.board ul a {
  background-color: olive; */
/* display: inline-block;
  width: 270px; */
/* white-space: nowrap; */ /* 개행 금지 */
/* overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}
.board time {
  background-color: palegreen; */
/* float: right; */
/* }
.more {
  background-color: tomato;
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
.more .icon-plus {
  color: hsla(110, 50%, 30%, 1);
}
.board-act [class$="-list"],
.board-act .more {
  display: block !important; 
} /* class$= ~로 끝나는 */
/* .board-act [class$="-list"],
.more {
  display: none;
} */
.board {
  position: relative;
  padding-top: 40px;
  margin-top: 45px;
}
.notice-heading {
  left: 0;
}
.pds-heading {
  left: 74px;
}

.board h2 {
  position: absolute;
  top: 0;
  margin: 0;
  font-size: 1em;
  font-weight: 400;
}
.board-act h2 {
  z-index: 10 !important;
}
.tab {
  display: block;
  padding: 5px 10px;
  border: 1px solid #aaa;
  color: #999;
  border-radius: 5px;
  background: #aaa linear-gradient(#ccc, #eee);
}
.board-act .tab {
  border-color: #ed552f #ed552f #fff #ed552f;
  color: #ed552f;
}
.board ul,
.board .more {
  display: none;
}
.board ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  background: pink;
  min-height: 112px;
}
.board li {
  background: yellow;
  margin: 8px 0;
}
.board li a {
  background-color: skyblue;
  width: 275px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom; /* 인라인 요소에 배치 */
  text-overflow: ellipsis;
}
.board-act ul,
.board-act .more {
  display: block !important;
}
.more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
.more .icon-plus {
  color: hsla(110, 50%, 30%, 1);
}
/* 뉴스 */
/* .news {
  background-color: teal;
  margin-top: 10px;
  position: relative;
}
.news-heading {
  background-color: pink;
  position: relative;
  margin: 35px 0;
  padding: 0;
}

.news-link {
  background-color: steelblue;
  display: block;
  height: 200px;
}
.news-item-subject,
.news-item-date,
.news-item-brief {
  float: right;
  display: inline-block;
  width: 250px;
  margin: 0;
}
.news-item-subject {
  font-size: 1.5rem;
  margin-top: 10px;
}
.news-item-date {
  margin-top: 2px;
}
.news-item-brief {
  margin-top: 16px;
}
.news-item-thumbnail {
  background-color: tomato;
  display: inline-block;
  margin: 0;
  float: left;
}
.news .more {
  float: right;
  background-color: red;
  display: block;
} */

.news {
  background-color: yellow;
  margin-top: 20px;
  position: relative;
}
.news::before {
  background-color: cadetblue;
  display: block;
  content: "";
  width: 80%;
  height: 1px;
  position: absolute;
  border: 10px solid darkblue;
  background: linear-gradient(90deg, #ccc, #fff);
  top: 30px;
  left: 0;
}
.news-heading {
  margin: 0;
  color: #ed552f;
  font-size: 1.5rem;
}
.news-item {
  background-color: pink;
  margin-top: 35px;
  position: relative;
}
.news-link {
  background-color: skyblue;
  display: block;
  padding-left: 130px;
}
.news-item-subject {
  background-color: lime;
  margin: 0;
  font-size: 1.4rem;
}
.news-item-date {
  display: block;
  margin-top: 5px;
}
.news-item-brief {
  background-color: bisque;
  margin: 15px 0 0;
  line-height: 1.5;
}
.news-item-thumbnail {
  background-color: orange;
  margin: 0;
  position: absolute;
  top: 3px;
  left: 0;
  text-align: center;
}
.news-item-thumbnail img {
  box-shadow: 0 15px 15px 0 #aaa;
}
.news-item-thumbnail figcaption {
  margin-top: 15px;
}

/* 이벤트 */
/* .event {
  background: linear-gradient(#ccc, #eee);
  padding: 0px 5px;
  border-radius: 10px 10px 0 0;
  padding-bottom: 15px;
  position: relative;
}
.event-heading {
  position: relative;
  font-size: 1.6rem;
  margin: 0px 5px;
  padding-top: 10px;
}
.event-heading span {
  color: #ed552f;
}
.event-thumbnail {
  text-align: center;
}
#eventDetail img {
  box-shadow: 5px 5px #aaa;
  border: 1px solid #999;
}
.event-brief {
  padding: 5px 5px;
  line-height: 1.4;
}
[class^="event-button-"] {
  background-image: url(./images/back_forward.png);
  background-repeat: no-repeat;
  background-color: #fff;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 2px 3px;
  position: absolute;
  padding: 0;
  margin: 0;
  border-width: 0;
  border-radius: 2px;
}
.event-button-prev {
  background-image: url(./images/back_forward.png);
  right: 33px;
  top: 10px;
}
.event-button-next {
  background-image: url(./images/back_forward.png);
  background-position: right 0;
  right: 9px;
  top: 10px;
} */
/* 패딩으로 글자 숨기기
.button-event {
  background-color: yellow;
  height: 20px;
  overflow: hidden;
}
[class^="event-button-"] {
  width: 20px;
  padding: 0px;
  border: 0;
  background-color: pink;
  padding: 20px 0 0 0;
} */
.gradient {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  background: #ccc linear-gradient(#ccc, #eee);
}
.event {
  background-color: lime;
  position: relative;
  border-bottom: 1px solid #999;
}
.event-heading,
.related-heading {
  font-size: 1.5rem;
  margin: 0;
}
.point-color {
  color: #ed552f;
}
.event-thumbnail,
.event-breif {
  margin: 10px 0;
}
.event-thumbnail img {
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #999;
}
.event-brief em {
  font-style: normal;
}
.button-event {
  background-color: yellow;
  position: absolute;
  right: 0;
  top: 0;
}
[class^="event-button-"] {
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: skyblue;
  background: skyblue url(./images/back_forward.png) no-repeat;
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  cursor: pointer;
}
.event-button-next {
  background-position: -36px 0;
}
/* 관련 사이트*/
/* .related-site {
  margin-top: 10px;
}
.related-site-list {
  list-style: none;
  height: 27px;
  background-color: #f7f7f7;
  text-align: start;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
  margin-bottom: 5px;
}
.related-site-list li {
  text-indent: 15px;
  padding: 2px 0 6px 0;
}
.related-site-list li a {
  display: block;
  line-height: 25px;
}
@keyframes relatedSite {
  0% {
    height: 27px;
  }
  100% {
    height: 160px;
  }
}
.related-site-list:hover {
  animation: relatedSite;
  outline: 2px solid #296897;
  outline-offset: 2px;
  animation-delay: 0.2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
} */
.related-list {
  height: 27px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
  transition: all 0.4s;
  /* transition: height 2s, padding 0.5s 2s; */
  /* transition-property: height, padding;
  transition-duration: 2s, 0.5s;
  transition-delay: 0s, 2s; */
}
.related-list:hover,
.related-list:focus-within {
  height: 147px;
  padding: 10px 0;
  outline: none;
}
.related-list a {
  display: block;
  line-height: 25px;
  text-indent: 20px;
}
.related-list a:focus {
  outline: 1px solid #296897;
  outline-offset: -4px;
}
/* 슬로건 */
.slogan {
}
